<div class="course-content container">
  <h1 class="cotent-title">自主选课</h1>
  <div class="content-blocks row">
    <div class="col-xs-6 col-sm-4 block">
      <div class="thumbnail">
        <div class="caption">
          <!--
          <i class="fas fa-3x fa-language"></i>
          -->
          <h3>语文</h3>
        </div>
        <div class="content">
          <%= link_to '一年级', '#' %>
          <%= link_to '二年级', '#' %>
          <%= link_to '三年级', '#' %>
          <%= link_to '四年级', '#' %>
          <%= link_to '五年级', '#' %>
          <%= link_to '六年级', '#' %>
          <%= link_to '七年级', '#' %>
          <%= link_to '八年级', '#' %>
          <%= link_to '九年级', '#' %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 block">
      <div class="thumbnail">
        <div class="caption">
          <h3>英语</h3>
        </div>
        <div class="content">
          <%= link_to '一年级', '#' %>
          <%= link_to '二年级', '#' %>
          <%= link_to '三年级', '#' %>
          <%= link_to '四年级', '#' %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 block">
      <div class="thumbnail">
        <div class="caption">
          <h3>数学</h3>
        </div>
        <div class="content">
          <%= link_to '一年级', '#' %>
          <%= link_to '二年级', '#' %>
          <%= link_to '三年级', '#' %>
          <%= link_to '四年级', '#' %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 block">
      <div class="thumbnail">
        <div class="caption">
          <h3>物理</h3>
        </div>
        <div class="content">
          <%= link_to '一年级', '#' %>
          <%= link_to '二年级', '#' %>
          <%= link_to '三年级', '#' %>
          <%= link_to '四年级', '#' %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 block">
      <div class="thumbnail">
        <div class="caption">
          <h3>化学</h3>
        </div>
        <div class="content">
          <%= link_to '一年级', '#' %>
          <%= link_to '二年级', '#' %>
          <%= link_to '三年级', '#' %>
          <%= link_to '四年级', '#' %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 block">
      <div class="thumbnail">
        <div class="caption">
          <h3>历史</h3>
        </div>
        <div class="content">
          <%= link_to '一年级', '#' %>
          <%= link_to '二年级', '#' %>
          <%= link_to '三年级', '#' %>
          <%= link_to '四年级', '#' %>
        </div>
      </div>
    </div>

  </div>
</div>


